.custom {
  width: inherit;
  font-size: larger;
  border: 3px solid #14374e69;
}
.ui.card {
  width: 500px;
}
button {
  color: white;
}
.card-btn {
  background-color: teal;
  border: none;
  padding: 2px 8px;
  border-radius: 20px;
}
.card-btn:hover {
  background-color: rgb(0, 58, 58);
}
.card-btn:focus {
  outline: none;
  border: none;
}
