:root {
  --accent-unselected: #633a82;
  --accent-selected: #633a82;
  --background-color: #f1fcfc;
}

.sign-in {
  display: flex;

  background-color: white;
  padding: 25px;
  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.button {
  background-color: var(--accent-unselected);
  border-radius: 20px;
  border: none;
  padding: 10px 25px;
  margin: 0 10px;
  border: 2px solid transparent;
}
.button:hover {
  background-color: white;
  color: var(--accent-selected);
  border: 2px solid var(--accent-selected);
}
body {
  background-color: var(--background-color);
}

.logo-container {
  height: 400px;
  background-color: #b6dfdf;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 250px;
  height: 250px;
  background-image: url("../image/logo.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  animation: spin ease-in-out 5s infinite;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
